/* 
    Write your custom CSS here and also abstract your Tailwind css using @apply
*/

html {
  scroll-behavior: smooth;
}

body {
  @apply text-stone-700;
}

h1,
h2,
h3 {
  line-height: 2;
  @apply font-heading;
}

p,
span,
li {
  font-weight: 300;
  @apply text-base;
}

a:hover {
  @apply underline;
}

ul {
  @apply list-disc;
  @apply pl-8;
}

tr {
  @apply transition;
  @apply duration-300;
}

tr:hover {
  @apply bg-orange-50;
}

.content {
  @apply max-w-3xl;
  @apply mx-auto;
}

.content h2 {
  @apply pt-6;
  @apply pb-3;
  @apply text-accent;
  @apply text-2xl;
  @apply font-bold;
}

.content h3 {
  @apply pt-6;
  @apply pb-1;
  @apply mb-1;
  @apply text-accent;
  @apply text-lg;
  @apply font-bold;
}

.content a {
  @apply text-accent;
  @apply underline;
}

.content a.block {
  @apply text-white;
  @apply no-underline;
}

/* Define the keyframes for #person1 animation */
@keyframes person1Animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Define the keyframes for #person2 animation */
@keyframes person2Animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Define the keyframes for #head animation */
@keyframes headAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to #person1 */
#person1 {
  animation: person1Animation 5s ease-in-out infinite;
}

/* Apply the animation to #person2 */
#person2 {
  animation: person2Animation 3s ease-in-out infinite;
}

#medfile-register-widget > div {
  display: none;
}

/* Apply the animation to #head */
/* #head {
  animation: headAnimation 4s ease-in-out infinite;
  transform-origin: bottom;
} */
/* filepath: assets/css/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
  }

  /* Example for a delayed animation */
  .animate-fadeIn-delay-1 {
    animation: fadeIn 0.5s ease-out 0.2s forwards; /* 0.2s delay */
  }
  .animate-fadeIn-delay-2 {
    animation: fadeIn 0.5s ease-out 0.4s forwards; /* 0.4s delay */
  }
}

.frame {
  @apply after:absolute;
  @apply after:bottom-4;
  @apply after:left-5;
  @apply after:-z-10;
  @apply after:h-full;
  @apply after:w-full;
  @apply after:bg-accent;
}

.nav-section {
  @apply fixed top-0 w-full bg-white py-1 shadow lg:top-10;
}

.js-nav {
  @apply absolute left-0 top-[68px] mx-auto  h-full min-h-screen w-1/2  space-y-5 overflow-auto bg-accent py-10 pb-24 pl-10 text-lg font-semibold text-white lg:relative lg:top-0  lg:h-auto lg:min-h-0 lg:w-full  lg:items-center lg:justify-end lg:space-x-5 lg:space-y-0 lg:bg-transparent lg:py-0 lg:pl-0 lg:text-right lg:text-accent;
}

.is-transparent .nav-section {
  @apply bg-transparent;
}

.is-transparent .js-nav {
  @apply text-white;
}

.is-transparent .logo {
  @apply invert filter;
}

.nav-visit-btn {
  @apply border-accent;
}

.is-transparent .nav-visit-btn {
  @apply border-white text-white;
}

h2 {
  @apply mb-6 text-4xl text-accent;
}

h3 {
  @apply mb-6 text-3xl;
}

.content h2 {
  @apply mb-2 mt-8 text-2xl text-accent;
}

.content ul {
  @apply list-disc pl-6;
}
